.feature {
    gap: 40px;
    padding: 84px 255px 95px;

    &-content {
        width: 500px;
        height: 126px;

        &_title {
            margin-bottom: 8px;
        }
    }
    
    &-list {
        gap: 20px;
        &_item {
            gap: 16px;
            width: 455px;
            height: 72px;
            background: $card-color;
            padding: 24px 20px;
        }
    }

    &-button button {
        margin-bottom: 12px;
    }
    &-button p {
        margin: 0;
    }

}