.hero {
  background-image: url("./assets/unsplash.png");

  &-header {
    padding: 40px 157px 0 160px;
    gap: 131px;

    @include mobile {
      padding: 18px 32px;
      gap: 18px;
    }

    &_logo img {
      width: 172px;
      height: 36px;

      @include mobile {
        width: 135px;
        height: 28px;
      }
    }

    &-right {
      gap: 246px;
      @include mobile {
        // width: 361px.;
        gap: 0;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        z-index: 1;
        background: #05122a;
      }

      &_menu {
        gap: 48px;
        @include mobile {
          gap: 24px;
          padding: 24px 16px;
          border-top: 1px solid rgba(255, 255, 255, 0.12);
          border-bottom: 1px solid rgba(255, 255, 255, 0.12);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.13);
        }
        &-item:last-child {
          min-width: 70px;
        }
      }

      &_contact {
        @include mobile {
          padding: 24px 16px 256px;
        }

        &-title {
          margin-bottom: 16px;
        }
        &-connect {
          line-height: 17px;
          gap: 16px;
          margin-bottom: 32px;
        }
      }

      &_button {
        gap: 31px;
        @include mobile {
          gap: 16px;
          padding: 0 16px 20px;
        }

        &-login {
          @include mobile {
            padding: 10px 156px;
            border: 1px solid #ffffff;
            border-radius: 32px;
            color: $white-color;
          }
        }
        &-contact {
          @include mobile {
            padding: 10px 140px;
          }
        }
      }
    }

    i {
      @include mobile {
        font-size: 32px;
      }
    }
  }
  &-introduce {
    width: 100%;
    margin-top: 115px;

    @include mobile {
      margin-top: 66px;
    }

    &_content {
      gap: 16px;

      &-title {
        width: 782px;
        @include mobile {
          width: 361px;
        }
      }
      &-description {
        width: 688px;
        padding: 0 20px;

        @include mobile {
          width: 361px;
          padding: 0;
        }
      }
    }

    &_image {
      margin: 14px 0 0 170px;
      @include mobile {
        margin: 42px 0 0 0;
        width: 393px;
        height: 454px;
      }
    }
  }
}
