.information {
  background: url("./assets/unsplash.png");
  margin-top: 129px;
  padding: 90px 300px 146px 160px;
  gap: 209px;

  @include desktop {
    padding: 90px 160px 146px;
    margin-top: 0;
  }

  @include w-1200 {
    padding: 80px 32px;
  }

  @include mobile {
    padding: 80px 16px;
  }

  &-contact {
    width: 361px;
    gap: 24px;

    @include w-1200 {
      width: 100%;
    }

    &_box {
      padding: 40px;
      background: rgba(255, 255, 255, 0.01);
      border: 0.900926px solid rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(8px);
      border-radius: 8px;

      @include desktop {
        max-width: 361px;
        margin: 0 auto;
      }

      @include mobile {
        padding: 40px;
      }

      &-support {
        margin-bottom: 24px;
      }

      &-phone {
        gap: 33px;
        margin-bottom: 9px;
      }

      &-email {
        gap: 33px;
      }
    }
  }

  &-form {
    max-width: 400px;
    padding: 40px;
    z-index: 1;
    border-radius: 8px;
    position: relative;

    @include w-1200 {
      position: unset;
      margin-top: 32px;
      min-width: 400px;
    }

    @include tablet {
      min-width: auto;
    }

    @include mobile {
      margin-top: 24px;
    }

    &_button {
      gap: 28px;

      button {
        max-width: 80px !important;
        padding: 10px 20px;
        border-radius: 32px;
      }
      &-note {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  &-image {
    bottom: 0;
    left: 982px;
    display: block;

    @include desktop {
      display: none;
    }
  }
}
