.service {
  margin: 100px 160px 0px;

  @include desktop {
    margin: 80px 32px 0px;
  }

  @include mobile {
    margin: 80px 16px 0px;
  }

  &-slider {
    margin-top: 40px;

    @include tablet {
      margin-top: 0;
      width: 100%;
      overflow: hidden;
      position: relative;
    }
  }

  &-title {
    width: 573px;
    margin: 0 auto;

    @include tablet {
      width: 100%;
    }
  }
  &-steps {
    gap: 24px;
    width: 100%;

    @include tablet {
      position: relative;
      margin-top: 62px;
      transition: transform 0.5s linear;
      gap: 0;
    }

    &_card {
      background: $card-color;
      backdrop-filter: blur(13.5139px);
      border-radius: 8px;
      padding: 40px 40px 56px 40px !important;
      max-width: 358;

      @include desktop {
        width: calc(100% / 3);
        padding: 20px !important;
      }

      @include tablet {
        padding: 40px 40px 88px 40px !important;
        flex: 1 0 100%;
        min-width: 354px;
      }

      &-icon {
        margin-bottom: 32px;
      }

      &-content {
        &_title {
          margin-bottom: 16px;
        }
      }
    }

    &_pagination {
      margin-top: 16px;
      gap: 10px;

      i {
        font-size: 7px;
        border-radius: 50%;
        color: #eaecef;
        line-height: 20px;
      }
    }
  }
  &-benefit {
    margin-top: 73px;
    gap: 48px;

    @include mobile {
      margin-top: 35px;
      position: relative;
    }

    img {
      @include desktop {
        width: 100%;
      }

      @include mobile {
        height: 383px;
        margin: 54px -16px 0;
      }
    }

    &_content {
      min-width: 370px;
      gap: 24px;
      margin-top: 141px;

      @include tablet {
        margin-top: 101px;
        align-items: center;
      }

      @include mobile {
        margin-top: 80px;
        align-items: start;
      }

      button {
        @include desktop {
          margin: 0 auto;
          margin-bottom: 36px;
        }

        @include mobile {
          position: absolute;
          top: 766px;
          left: 134px;
        }
      }

      &-title {
        @include desktop {
          br {
            display: none;
          }
        }
        @include mobile {
          br {
            display: block;
          }
        }
      }
    }
  }
  &-payment {
    padding-top: -105px !important;

    @include mobile {
      padding-top: 160px;
    }

    &_image {
      width: 825px;
      // height: 550px;

      @include desktop {
        width: 100%;
        margin: 32px auto;
      }

      @include tablet {
        width: 100%;
        margin: 32px -16px 0;
      }
    }

    &_content {
      margin-top: 90px;
      width: 361px;
      gap: 24px;

      @include desktop {
        width: 100%;
        text-align: center;
      }

      @include tablet {
        margin: 0 auto;
        margin-top: 40px;
        max-width: 100%;
      }

      @include mobile {
        margin-top: 80px;
      }

      &-title {
        @include tablet {
          margin: 0 auto;
        }
        @include mobile {
          margin: 0;
        }

        br {
          @include desktop {
            display: none;
          }
          @include tablet {
            display: none;
          }
          @include mobile {
            display: block;
          }
        }
      }

      &-method {
        gap: 25px;

        @include desktop {
          margin: 0 auto;
        }
      }
    }
  }
}
