.solution {
  background: url("../assets/solution.png");
  padding: 90px 205px 90px 225px;
  margin-top: -34px;

  @include tablet {
    padding: 80px 32px 94px;
    margin-top: -55px;
  }

  @include mobile {
    padding: 80px 16px 94px;
  }

  &_content {
    width: 500px;
    height: 150px;
    margin-bottom: 81px;

    @include tablet {
      width: 100%;
    }

    div:first-child {
      margin-bottom: 8px;
    }

    @include mobile {
      width: 100%;
      margin-bottom: 116px;
    }
  }

  &_application {
    img {
      max-width: 419px;
    }

    div:first-child {
      img {
        @include tablet {
          max-width: 100%;
          height: 287px;
        }
      }
      div {
        margin-top: 29px;

        @include tablet {
          margin: 29px 0 147px;
        }

        @include mobile {
          margin: 24px 0 147px;
        }
      }
    }

    div:last-child {
      img {
        @include tablet {
          max-width: 100%;
          height: 265px;
        }
      }

      div {
        margin-top: 64px;

        @include mobile {
          margin-top: 44px;
        }
      }
    }
  }

  &_subtract {
    top: 410px;
    left: 622px;

    @include tablet {
      width: 130px;
      height: 105px;
      top: 52%;
      left: 40%;
      transform: rotate(90deg);
      mix-blend-mode: normal;
      opacity: 0.5;
    }

    @include mobile {
      width: 104px;
      height: 80px;
      top: 55%;
    }
  }
}
