.solution {
  background: url("../assets/solution.png");
  padding: 90px 205px 90px 225px;

  @include mobile {
    padding: 80px 16px 94px;
  }

  &_content {
    width: 500px;
    height: 150px;
    margin-bottom: 81px;

    div:first-child {
      margin-bottom: 8px;
    }

    @include mobile {
      width: 100%;
      height: 166px;
      margin-bottom: 116px;
    }
  }

  &_application > div:first-child {
    div {
      margin-top: 29px;
    }

    @include mobile {
      img {
        width: 100%;
        height: 287px;
      }
      div {
        margin: 24px 0 147px;
      }
    }
  }

  &_application > div:last-child {
    div {
      margin-top: 64px;
    }

    @include mobile {
      img {
        width: 100%;
        height: 265px;
      }
      div {
        margin-top: 44px;
      }
    }
  }

  &_subtract {
    top: 410px;
    left: 622px;

    @include mobile {
      width: 104px;
      height: 80px;
      top: 707px;
      left: 156px;
      transform: rotate(90deg);
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }
}
