.solution {
    background: url('./assets/solution.png');
    padding: 90px 205px 90px 225px;

    &_content {
        width: 500px;
        height: 150px;
        margin-bottom: 81px;
    }
    &_application > div:first-child > div{
        margin-top: 29px;
    }

    &_application > div:last-child > div{
        margin-top: 64px;
    }
    &_subtract {
        top: 410px;
        left: 622px;
    }
}