@import url("https://fonts.googleapis.com/css?family=Rubik");
* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

.gradient-color {
  background: linear-gradient(124.32deg, #31cb9e 0.01%, #0faaa2 100.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-color {
  background: linear-gradient(124.32deg, #31cb9e 0.01%, #0faaa2 100.02%);
}

.bg-white {
  background-color: #ffffff;
}

.bg-footer {
  background-color: #05122a;
}

.bc-dark {
  background-color: #272f3e;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fs-normal {
  font-style: normal;
}

.button {
  border: none;
  font-size: 16px;
  line-height: 24px;
}

.button--contact {
  padding: 10px 20px;
  border-radius: 32px;
  max-width: 125px;
}

.text-h2 {
  font-size: 38px;
  line-height: 46px;
}
@media (max-width: 393px) {
  .text-h2 {
    font-size: 30px;
    line-height: 38px;
  }
}

.text-h3 {
  font-size: 24px;
  line-height: 32px;
}

.text-h4 {
  font-size: 20px;
  line-height: 28px;
}

.text-normal {
  font-size: 16px;
  line-height: 24px;
}

.text-small {
  font-size: 14px;
  line-height: 22px;
}

.fc-white {
  color: #ffffff;
}

.fc-black {
  color: #030d24;
}

.fc-gray {
  color: #4d5562;
}

.fc-primary {
  color: #31cb9e;
}

.fc-light {
  color: #888e9c;
}

.hero {
  background-image: url("./assets/unsplash.png");
}
.hero-header {
  padding: 40px 157px 0 160px;
  gap: 131px;
}
@media (max-width: 393px) {
  .hero-header {
    padding: 18px 32px;
    gap: 18px;
  }
}
@media (max-width: 768px) {
  .hero-header {
    padding: 18px 32px;
    gap: 36px;
  }
}
.hero-header_logo img {
  width: 172px;
  height: 36px;
}
@media (max-width: 768px) {
  .hero-header_logo img {
    width: 140px;
    height: 35px;
  }
}
@media (max-width: 393px) {
  .hero-header_logo img {
    width: 135px;
    height: 28px;
  }
}
.hero-header-right {
  gap: 246px;
}
@media (max-width: 768px) {
  .hero-header-right {
    gap: 36px;
  }
}
@media (max-width: 393px) {
  .hero-header-right {
    gap: 0;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 1;
    background: #05122a;
  }
}
.hero-header-right_menu {
  gap: 48px;
}
@media (max-width: 768px) {
  .hero-header-right_menu {
    gap: 12px;
  }
}
@media (max-width: 393px) {
  .hero-header-right_menu {
    gap: 24px;
    padding: 24px 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.13);
  }
}
.hero-header-right_menu-item:last-child {
  min-width: 70px;
}
@media (max-width: 393px) {
  .hero-header-right_contact {
    padding: 24px 16px 256px;
  }
}
.hero-header-right_contact-title {
  margin-bottom: 16px;
}
.hero-header-right_contact-connect {
  line-height: 17px;
  gap: 16px;
  margin-bottom: 32px;
}
.hero-header-right_button {
  gap: 31px;
}
@media (max-width: 393px) {
  .hero-header-right_button {
    gap: 16px;
    padding: 0 16px 20px;
  }
}
.hero-header-right_button-login {
  min-width: 45px;
}
@media (max-width: 393px) {
  .hero-header-right_button-login {
    padding: 10px 156px;
    border: 1px solid #ffffff;
    border-radius: 32px;
    color: #ffffff;
  }
}
@media (max-width: 393px) {
  .hero-header-right_button-contact {
    padding: 10px 140px;
  }
}
@media (max-width: 393px) {
  .hero-header i {
    font-size: 32px;
  }
}
.hero-introduce {
  width: 100%;
  margin-top: 115px;
}
@media (max-width: 768px) {
  .hero-introduce {
    margin-top: 80px;
  }
}
@media (max-width: 393px) {
  .hero-introduce {
    margin-top: 66px;
  }
}
.hero-introduce_content {
  gap: 16px;
}
.hero-introduce_content-title {
  width: 782px;
}
@media (max-width: 393px) {
  .hero-introduce_content-title {
    width: 361px;
  }
}
.hero-introduce_content-description {
  width: 688px;
  padding: 0 20px;
}
@media (max-width: 393px) {
  .hero-introduce_content-description {
    width: 361px;
    padding: 0;
  }
}
.hero-introduce_image {
  margin: 14px 200px 0px;
}
@media (max-width: 768px) {
  .hero-introduce_image {
    margin: 42px 0 0 0;
    height: 467px;
  }
}
@media (max-width: 393px) {
  .hero-introduce_image {
    margin: 42px 0 0 0;
    height: 454px;
  }
}

.service {
  margin: 100px 160px 0px;
}
@media (max-width: 768px) {
  .service {
    margin: 80px 16px 0px;
  }
}
@media (max-width: 393px) {
  .service {
    margin: 80px 16px 0px;
  }
}
.service-slider {
  margin-top: 40px;
}
@media (max-width: 393px) {
  .service-slider-slider {
    width: 393px;
    overflow: hidden;
    position: relative;
  }
}
.service-title {
  width: 573px;
  margin: 0 auto;
}
@media (max-width: 393px) {
  .service-title {
    width: 289px;
  }
}
.service-steps {
  gap: 24px;
  width: 100%;
}
@media (max-width: 393px) {
  .service-steps {
    position: relative;
    margin-top: 62px;
    transition: transform 0.5s linear;
  }
}
.service-steps_card {
  background: #f1f3f5;
  -webkit-backdrop-filter: blur(13.5139px);
          backdrop-filter: blur(13.5139px);
  border-radius: 8px;
  padding: 40px 40px 56px 40px !important;
  max-width: 358;
}
@media (max-width: 768px) {
  .service-steps_card {
    padding: 24px 24px 32px 24px !important;
  }
}
@media (max-width: 393px) {
  .service-steps_card {
    padding: 40px 40px 88px 40px !important;
    flex: 1 0 100%;
    max-width: 354px;
  }
}
.service-steps_card-icon {
  margin-bottom: 32px;
}
.service-steps_card-content_title {
  margin-bottom: 16px;
}
.service-steps_pagination {
  margin-top: 16px;
  gap: 10px;
}
.service-steps_pagination i {
  font-size: 7px;
  border-radius: 50%;
  color: #eaecef;
  line-height: 20px;
}
.service-benefit {
  margin-top: 73px;
  gap: 48px;
}
@media (max-width: 393px) {
  .service-benefit {
    margin-top: 35px;
    position: relative;
  }
  .service-benefit img {
    width: 100%;
    height: 383px;
    margin: 54px -16px 0;
  }
}
.service-benefit_content {
  min-width: 370px;
  gap: 24px;
  margin-top: 141px;
}
@media (max-width: 768px) {
  .service-benefit_content {
    margin-top: 101px;
  }
}
@media (max-width: 393px) {
  .service-benefit_content {
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .service-benefit_content button {
    margin: 0 auto;
    margin-bottom: 36px;
  }
}
@media (max-width: 393px) {
  .service-benefit_content button {
    position: absolute;
    top: 766px;
    left: 134px;
  }
}
@media (max-width: 768px) {
  .service-benefit_content-title br {
    display: none;
  }
}
@media (max-width: 393px) {
  .service-benefit_content-title br {
    display: block;
  }
}
.service-payment {
  padding-top: -105px !important;
}
@media (max-width: 393px) {
  .service-payment {
    padding-top: 160px;
  }
}
.service-payment_image {
  width: 825px;
  height: 550px;
}
@media (max-width: 768px) {
  .service-payment_image {
    width: 100%;
    margin: 32px -16px 0;
  }
}
@media (max-width: 393px) {
  .service-payment_image {
    width: 100%;
    height: 337px;
    margin: 32px -16px 0;
  }
}
.service-payment_content {
  margin-top: 90px;
  max-width: 361px;
  gap: 24px;
}
@media (max-width: 768px) {
  .service-payment_content {
    margin-top: 40px;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 393px) {
  .service-payment_content {
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .service-payment_content-title {
    margin: 0 auto;
  }
}
.service-payment_content-method {
  gap: 25px;
}
@media (max-width: 768px) {
  .service-payment_content-method {
    margin: 0 auto;
  }
}

.solution {
  background: url("../assets/solution.png");
  padding: 90px 205px 90px 225px;
  margin-top: -34px;
}
@media (max-width: 768px) {
  .solution {
    padding: 80px 32px 94px;
    margin-top: -55px;
  }
}
@media (max-width: 393px) {
  .solution {
    padding: 80px 16px 94px;
  }
}
.solution_content {
  width: 500px;
  height: 150px;
  margin-bottom: 81px;
}
.solution_content div:first-child {
  margin-bottom: 8px;
}
@media (max-width: 393px) {
  .solution_content {
    width: 100%;
    margin-bottom: 116px;
  }
}
@media (max-width: 393px) {
  .solution_application > div:first-child img {
    width: 100%;
    height: 287px;
  }
}
.solution_application > div:first-child div {
  margin-top: 29px;
}
@media (max-width: 768px) {
  .solution_application > div:first-child div {
    margin: 29px 0 147px;
  }
}
@media (max-width: 393px) {
  .solution_application > div:first-child div {
    margin: 24px 0 147px;
  }
}
@media (max-width: 393px) {
  .solution_application > div:last-child img {
    width: 100%;
    height: 265px;
  }
}
.solution_application > div:last-child div {
  margin-top: 64px;
}
@media (max-width: 393px) {
  .solution_application > div:last-child div {
    margin-top: 44px;
  }
}
.solution_subtract {
  top: 410px;
  left: 622px;
}
@media (max-width: 768px) {
  .solution_subtract {
    width: 130px;
    height: 105px;
    top: 707px;
    left: 330px;
    transform: rotate(90deg);
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
@media (max-width: 393px) {
  .solution_subtract {
    width: 104px;
    height: 80px;
    top: 707px;
    left: 156px;
  }
}

.feature {
  gap: 40px;
  padding: 84px 255px 95px;
}
@media (max-width: 768px) {
  .feature {
    padding: 80px 32px;
  }
}
@media (max-width: 393px) {
  .feature {
    padding: 80px 16px;
  }
}
.feature-content {
  width: 500px;
  height: 126px;
}
@media (max-width: 393px) {
  .feature-content {
    width: 100%;
    height: 182px;
  }
}
.feature-content_title {
  margin-bottom: 8px;
}
.feature-list {
  gap: 20px;
}
.feature-list div {
  gap: 20px;
  width: 100%;
}
.feature-list_item {
  gap: 16px;
  width: 455px;
  height: 72px;
  background: #f1f3f5;
  padding: 24px 20px;
}
@media (max-width: 393px) {
  .feature-list_item {
    width: 100%;
  }
}
.feature-button button {
  margin-bottom: 12px;
}
.feature-button p {
  margin: 0;
}

.comment {
  margin: 0 160px;
  background: url("./assets/comment.jpg");
  padding: 60px 47px 60px 60px;
  gap: 67px;
}
@media (max-width: 768px) {
  .comment {
    margin: 0;
    padding: 80px 32px;
  }
}
@media (max-width: 393px) {
  .comment {
    padding: 80px 16px;
  }
}
.comment-content {
  width: 537px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.01);
  border: 0.900926px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(13.5139px);
          backdrop-filter: blur(13.5139px);
  border-radius: 8px;
  align-self: stretch;
}
@media (max-width: 768px) {
  .comment-content {
    width: 100%;
    margin-bottom: 40px;
  }
}
.comment-content img {
  margin-bottom: 24px;
}
.comment-author {
  width: 409px;
}
@media (max-width: 768px) {
  .comment-author {
    width: 100%;
  }
}
@media (max-width: 393px) {
  .comment-author {
    gap: 16px;
  }
}
.comment-author img {
  margin-bottom: 22px;
}
@media (max-width: 768px) {
  .comment-author img {
    margin-bottom: 0;
  }
}
@media (max-width: 393px) {
  .comment-author img {
    width: 72px;
    height: 72px;
    margin: auto 0;
  }
}

.information {
  background: url("./assets/unsplash.png");
  margin-top: 129px;
  padding: 90px 300px 146px 160px;
  gap: 209px;
}
@media (max-width: 768px) {
  .information {
    margin-top: 0;
    padding: 80px 32px;
  }
}
@media (max-width: 393px) {
  .information {
    padding: 80px 16px;
  }
}
.information-contact {
  width: 361px;
  gap: 24px;
}
.information-contact_box {
  padding: 40px;
  background: rgba(255, 255, 255, 0.01);
  border: 0.900926px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 8px;
}
@media (max-width: 393px) {
  .information-contact_box {
    padding: 40px;
  }
}
.information-contact_box-support {
  margin-bottom: 24px;
}
.information-contact_box-phone {
  gap: 33px;
  margin-bottom: 9px;
}
.information-contact_box-email {
  gap: 33px;
}
.information-form {
  width: 400px;
  padding: 40px;
  z-index: 1;
  border-radius: 8px;
  position: relative;
}
@media (max-width: 768px) {
  .information-form {
    position: unset;
    margin-top: 32px;
  }
}
@media (max-width: 393px) {
  .information-form {
    width: 100%;
    margin-top: 24px;
  }
}
.information-form_button {
  gap: 28px;
}
.information-form_button button {
  max-width: 80px !important;
  padding: 10px 20px;
  border-radius: 32px;
}
.information-form_button-note {
  font-size: 12px;
  line-height: 20px;
}
.information-image {
  bottom: 0;
  left: 982px;
}

.footer {
  padding: 80px 160px 24px;
}
@media (max-width: 393px) {
  .footer {
    padding: 80px 16px;
  }
}
@media (max-width: 393px) {
  .footer-top {
    gap: 40px;
  }
}
.footer-top_brand {
  gap: 24px;
}
.footer-top_brand-logo {
  width: 172px;
  height: 36px;
}
@media (max-width: 393px) {
  .footer-top_brand-note {
    margin-bottom: 16px;
  }
}
.footer-top_brand-menu {
  gap: 24px;
}
.footer-top_contact-title {
  line-height: 22px;
  margin-bottom: 8px;
}
.footer-top_contact-connect {
  line-height: 17px;
  gap: 4px;
  margin-bottom: 24px;
}
.footer-top_contact-social {
  gap: 12px;
}
.footer-top_contact-social i {
  font-size: 20px;
  padding: 13px 15px;
}
.footer-top_contact-social i:first-child {
  padding: 13px 18px;
}
.footer-bot {
  padding-top: 24px;
  border-top: 1px solid #272f3e;
  margin-top: 58px;
}
@media (max-width: 393px) {
  .footer-bot {
    gap: 32px;
    padding-bottom: 40px;
    border-bottom: 1px solid #272f3e;
  }
}
.footer-bot_menu {
  gap: 24px;
}/*# sourceMappingURL=index.css.map */